RenderDoc Settings.cap
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-release-with-profiling/
cmake-build-debug-remote-host/
cmake-build-release-remote-host/
cmake-build-debug-remote-host-coverage/
cmake-build-gcc-remote-debug/
cmake-build-gcc-remote-release/
cmake-build-msvc-debug/
cmake-build-msvc-release/
cmake-build-msvc-release-with-profiling/
cmake-build-clang-debug/
cmake-build-clang-release/
/tests/saveAndReadFiles_test.json
/tests/university.json
/cmake-build-msvc-debug-with-profiling/
/cmake-build-gcc-remote-release-with-profiling/
/cmake-build-gcc-remote-debug-with-profiling/
